*{
  padding: 0px;
  margin: 0px;
}



/* COMIENZA HEADER */

@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
.container {
  width: 90%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
  padding-top: 40px;
}
.header-bar {
  padding-top: 40px;
	position: relative;
	width: 100%;
  height: 20rem;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgb(255, 255, 255) inset;
}
.header-bar::after {
  padding-top: 40px;
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}



.al-Logo{
  width: 0%;
  height: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
}


.logo{
  border: 1px solid white;
  width: 120px;
  height: 120px;
  background: url("../img/logo_mini.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: 90%;
  border-radius: 50%;
}
.logo:hover{
  animation: flipped 1s forwards;
}


@keyframes flipped {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform:rotateY(35deg);;
  }
}



.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
  font-size: 20px;
	padding: 14px;
  padding-top: 30px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.5s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: rgb(1, 240, 188);
	transform: scale(1.2)
}


/* FINALIZA HEADER */

/* MENÚ DESPLEGABLE */
.nav{

  display: none;
  --img1: scale(1);
  --img2: scale(0);
}

.nav:has( .dropdown:target ){
  --img1: scale(0);
  --img2: scale(1);

  --clip:inset(0 0 0 0);

}

.nav__container{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 70px;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "title img";
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.nav__title{
  color: #fff;
  grid-area: title;
}


.nav__menu{
  grid-area: img;
  position: relative;
  z-index: 10;

  transform: var(--img1);
}

.nav__menu--second{
  transform: var(--img2);
}

.nav__icon{
  width: 50px;
  padding-right: 10px;
}

.dropdown{
  position: absolute;
  background-color: #000000;
  width: 90%;
  max-width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  z-index: 5;
  display: grid;
  align-content:center ;
  gap: 1rem;

  overflow-y: auto;


  clip-path: var(--clip, inset(0 0 100% 100%));
  transition: clip-path .5s;
}

.dropdown__list{
  list-style: none;
}

.dropdown__span{
  font-size: 20px;
}


.dropdown__icon{
  width: 30px;
  height: 27px;
  border-radius: 50%;
}

.dropdown__link{
  color: rgb(184, 187, 191);
  padding: 1em .7em;
  text-decoration: none;
  
  display: flex;
  align-items: center;
  gap: .6rem;

  position: relative;
  background-color: var(--bg, transparent);
  border-radius: 6px;
}

.dropdown__list:has( :checked ){
  --rows: 1fr;
  --rotate: rotate(180deg);
  --bg: #28303B;
}

.dropdown__check{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dropdown__arrow{
  width: 30px;
  margin-left: auto;
  transform: var(--rotate, 0);
  transition: .2s transform;
}

.dropdown__content{
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: .3s grid-template-rows;
}

.dropdown__sub{
  overflow: hidden;

}

.dropdown__li{
  width: 85%;
  list-style: none;
  margin-left: auto;
  transition: 1s ease;
}

.dropdown__li:hover{
  border-top: 1px solid white;
  transform: translateY(10px);
}


.dropdown__anchor{
  padding: 1em 0;
  display: block;
  color: #B6BABE;
  text-decoration: none;
}
.dropdown__anchor:hover{
  color: turquoise;
}


/* FIN MENÚ DESPLEGABLE */


body {
    width: 100%;
    height: 100%;
    background: #000;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team-products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 45px;
    margin-bottom: 50px;
    width: 900px;
    height: 900px;
    padding: 30px calc((100% - 800px) / 2);
  }


  .team-products .product{
    transition: all 0.5s ease-in-out;
  }
  .team-products .product:hover {
    border-radius: 70%;
    transform: scale(1.2);
    z-index: 2;
}


.covered{
  width: 100%;
}

.title img{
  width: 400px;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  height: 20px;
}
.title:hover{
  transform: rotateY(180deg)
}


  
  @media (max-width: 920px) {
    .team-products {
      width: 100%;
      justify-content: center;
      justify-items: center;
      grid-template-columns: 250px;
      grid-template-rows: repeat(9, 250px);
    }
  }
  .team-products .product {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ededed;
  }
  @media (max-width: 920px) {
    .team-products .product {
      width: 100%;
    }
  }
  .team-products .product:first-child .content-details {
    left: 20%;
    top: 20%;
  }
  .team-products .product:nth-child(3) .content-details {
    left: 80%;
    top: 20%;
  }
  .team-products .product:nth-child(3n-2) .content-details {
    left: 20%;
  }
  .team-products .product:nth-child(3n-1) .content-details {
    top: 20%;
  }
  .team-products .product:nth-child(3n) .content-details {
    left: 80%;
  }
  .team-products .product:nth-last-child(3) .content-details {
    left: 20%;
    top: 80%;
  }
  .team-products .product:nth-last-child(2) .content-details {
    top: 80%;
  }
  .team-products .product:last-child .content-details {
    left: 80%;
    top: 80%;
  }
  @media (max-width: 920px) {

    .container{
      display: none;
    }
    .nav{
      text-align: center;
      display: contents;
    }

    .title{
      padding-top: 100px;
      width: 200px;
    }
    .team-products .product:nth-child(n) .content-details {
      left: 20%;
      top: 50%;
    }
  }
  .team-products .product .content {
    height: 100%;
  }
  .team-products .product .content img {
    height: 100%;
    transition: all 0.4s linear;
  }
  .team-products .product .content-details {
    position: absolute;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: #fff;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
    z-index: 15;
  }
  .team-products .product .content-details ul {
    padding-left: 15px;
  }
  .team-products .product .content-details a.name {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Stick No Bills', sans-serif;
    margin-bottom: 10px;
    padding: 0 10px;
    color: white;
  }
  .team-products .product .content-details .desc {
    font-family: sans-serif;
    padding: 0 10px;
  }
  .team-products .product:hover .content img {
    filter: blur(2px);
  }
  .team-products .product:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  .team-products .product .product-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 10;
  }
  .team-products .product:hover .product-overlay {
    opacity: 1;
  }
  